$white: #d6d6d6;  // 1 White
$surface: #2e2f31;  // 2 Gray - Surface
$surface-container: #232429;  // 2 Gray - Surface Container High
$surface-container-low: #181920;  // 2 Gray - Surface Container Low
$green: #a6e22e;  // 3 green
$orange: #fd971f;  // 4 orange
$purple: #ae81ff;  // 5 purple
$pink: #f92672;  // 6 pink
$blue: #66d9ef;  // 7 blue
$outline: #9b9fa4;  // 8 light gray


* {
    color: $white;
    font-family: 'JetBrains Mono Nerd Font Mono', monospace;
}

.bar {
    font-size: 14px;
    font-family: 'JetBrains Mono Nerd Font Mono', monospace;
    background-color: rgba($color: #000000, $alpha: 0);
}

.bar-inside {
    margin: 8px;
    border-radius: 0px;
    border: 1px solid $outline;
    background-color: $surface-container;
}

.bar-part {

    padding-left: 15px;
    padding-right: 15px;
}

.roundbutton {
    font-size: 24px;
}

.module {
    margin-right: 8px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.icon {
    padding: 0;
    font-family: 'JetBrains Mono Nerd Font Mono', monospace;
    font-size: 20px;
}


/** Background ***************************************/
.bg {
	background-color: #474D59;
	opacity: 1;
}

/** Generic window ***********************************/
.genwin {
    font-family: 'JetBrains Mono Nerd Font Mono', monospace;
	background-color: #2E3440;
	border-radius: 16px;
}

/** Profile ******************************************/
.face {
	background-size: 200px;
	min-height: 200px;
	min-width: 200px;
	margin: 65px 0px 0px 0px;
	border-radius: 100%;
}

.fullname {
	color: $pink;
	font-size : 30px;
	font-weight : bold;
}

.username {
	color: $blue;
	font-size : 22px;
	font-weight : bold;
	margin : -15px 0px 0px 0px;
}

/** System ********************************************/
.iconcpu, .iconmem, .iconbright, .iconbat {
	font-size : 32px;
	font-weight : normal;
}
.iconcpu {
	color: $pink;
}
.iconmem {
	color: $green;
}
.iconbright {
	color: $orange;
}
.iconbat {
	color: $blue;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough {
	all: unset;
	background-color: $surface;
	border-radius: 16px;
	min-height: 28px;
	min-width: 240px;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough highlight {
	all: unset;
	border-radius: 16px;
}

.cpu_bar scale trough highlight {
	background-color: $pink;
}
.mem_bar scale trough highlight {
	background-color: $green;
}
.bright_bar scale trough highlight {
	background-color: $orange;
}
.bat_bar scale trough highlight {
	background-color: $blue;
}

/** Clock ********************************************/
.time_hour, .time_min {
	color: $white;
	font-size : 70px;
	font-weight : bold;
}
.time_hour {
	margin : 15px 0px 0px 20px;
}
.time_min {
	margin : 0px 0px 10px 0px;
}

.time_mer {
	color: $green;
	font-size : 40px;
	font-weight : bold;
	margin : 20px 0px 0px 0px;
}

.time_day {
	color: $orange;
	font-size : 30px;
	font-weight : normal;
	margin : 0px 0px 20px -20px;
}

/** Uptime ********************************************/
.icontimer {
    font-family: 'JetBrains Mono Nerd Font Mono', monospace;
	color: $pink;
	font-size : 90px;
}

.uphour {
	color: $white;
    font-family: 'JetBrains Mono Nerd Font Mono', monospace;
	font-size : 42px;
	font-weight : bold;
}

.upmin {
	color: $white;
    font-family: 'JetBrains Mono Nerd Font Mono', monospace;
	font-size : 32px;
	font-weight : bold;
}

/** Music ***************************************/
.album_art {
	background-size: 240px;
	min-height: 240px;
	min-width: 240px;
	margin: 20px;
	border-radius: 14px;
}

.song {
	color: $blue;
	font-size : 24px;
	font-weight : bold;
	margin : 40px 0px 0px 0px;
}

.artist {
	color: $orange;
	font-size : 16px;
	font-weight : normal;
	margin : 0px 0px 15px 0px;
}

.btn_prev, .btn_play, .btn_next {
	
}
.btn_prev {
	color: $orange;
	font-size : 32px;
	font-weight : normal;
}
.btn_play {
	color: $green;
	font-size : 48px;
	font-weight : bold;
}
.btn_next {
	color: $orange;
	font-size : 32px;
	font-weight : normal;
}

.music_bar scale trough highlight {
	all: unset;
	background-color: $pink;
	border-radius: 8px;
}
.music_bar scale trough {
	all: unset;
	background-color: $surface;
	border-radius: 8px;
	min-height: 20px;
	min-width: 310px;
	margin : 10px 0px 0px 0px;
}

/** Weather ***************************************/
.iconweather {
	font-size : 120px;
	font-weight : normal;
	margin : 15px 0px 0px 30px;
}

.label_temp {
	color : $blue;
	font-size : 80px;
	font-weight : bold;
	margin : -15px 30px 0px 0px;
}

.label_stat {
	color : $pink;
	font-size : 38px;
	font-weight : bold;
}

.label_quote {
	color : $white;
	font-size : 18px;
	font-weight : normal;
}

/** Applications ***************************************/
.appbox {
	margin : 15px 0px 0px 25px;
}

.app_fox, .app_telegram, .app_discord, .app_terminal,
.app_files, .app_geany, .app_code, .app_gimp, .app_vbox {
    background-repeat: no-repeat;
	background-size: 64px;
	min-height: 64px;
	min-width: 64px;
	margin: 8px 8px 0px 8px;
}

.app_fox {}
.app_telegram {}
.app_discord {}
.app_terminal {}
.app_files {}
.app_geany {}
.app_code {}
.app_gimp {}
.app_vbox {}

/** Links ***************************************/
.iconweb, .iconmail {
	color: $white;
	font-size : 70px;
	font-weight : normal;
}
.iconmail {
	color: $pink;
}

.github {
	background-color: $surface;
	border-radius: 16px;
}
.reddit {
	background-color: $pink;
	border-radius: 16px;
}
.twitter {
	background-color: $blue;
	border-radius: 16px;
}
.youtube {
	background-color: $pink;
	border-radius: 16px;
}
.mail {
	background-color: $white;
	border-radius: 16px;
}

.mailbox {
	background-color: $white;
	border-radius: 10px;
	margin: 48px 0px 48px 0px;
}
.label_mails {
	color: $surface;
	font-size : 32px;
	font-weight : bold;
	margin: 0px 12px 0px 12px;
}

/** Power buttons ***************************************/
.btn_logout, .btn_sleep, .btn_reboot, .btn_poweroff {
	font-size : 48px;
	font-weight : bold;
}

.btn_logout {
	color: $pink;
}
.btn_sleep {
	color: $green;
}
.btn_reboot {
	color: $orange;
}
.btn_poweroff {
	color: $blue;
}

/** Home folders ***************************************/
.hddbox {
	background-color: $surface;
	border-radius: 10px;
	margin : 15px;
}
.hddicon {
	color: $blue;
	font-size : 70px;
	font-weight : normal;
	margin : 25px 20px 25px 40px;
}
.hdd_label {
	color: $white;
	font-size : 48px;
	font-weight : bold;
	margin : 0px 0px 0px 15px;
}
.fs_sep {
	color: $surface;
	font-size : 36px;
	font-weight : bold;
}

.iconfolder1, .iconfolder2, .iconfolder3, .iconfolder4, .iconfolder5, .iconfolder6  {
	font-size : 32px;
	font-weight : normal;
	margin : 0px 0px 0px 75px;
}
.iconfolder1 {
	color: $pink;
}
.iconfolder2 {
	color: $green;
}
.iconfolder3 {
	color: $orange;
}
.iconfolder4 {
	color: $blue;
}
.iconfolder5 {
	color: $purple;
}
.iconfolder6 {
	color: $blue;
}

.label_folder1, .label_folder2, .label_folder3, .label_folder4, .label_folder5, .label_folder6  {
	font-size : 22px;
	font-weight : normal;
	margin : 0px 0px 0px 30px;
}
.label_folder1 {
	color: $pink;
}
.label_folder2 {
	color: $green;
}
.label_folder3 {
	color: $orange;
}
.label_folder4 {
	color: $blue;
}
.label_folder5 {
	color: $purple;
}
.label_folder6 {
	color: $blue;
}