$white: #d6d6d6;  // 1 White
$surface: #2e2f31;  // 2 Gray - Surface
$surface-container: #232429;  // 2 Gray - Surface Container High
$surface-container-low: #181920;  // 2 Gray - Surface Container Low
$green: #a6e22e;  // 3 green
$orange: #fd971f;  // 4 orange
$purple: #ae81ff;  // 5 purple
$pink: #f92672;  // 6 pink
$blue: #66d9ef;  // 7 blue
$outline: #9b9fa4;  // 8 light gray

* {
	all:unset;
    color: $white;
    font-family: 'JetBrains Mono Nerd Font Mono', monospace;
}

.bar {
	font-size: 14px;
    font-family: 'JetBrains Mono Nerd Font Mono', monospace;
    background-color: rgba($color: #000000, $alpha: 0);
}

.bar-part {
	
	padding-left: 15px;
    padding-right: 15px;
}

.bar-inside {
	margin: 8px;
}

.roundbutton {
    font-size: 24px;
}

.module {
    margin-right: 8px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.icon {
    padding: 0;
    font-family: 'JetBrains Mono Nerd Font Mono', monospace;
    font-size: 20px;
}

/** Background ***************************************/
.bg {
	background-color: $surface;
	opacity: 1;
}

/** Generic window ***********************************/

.genwin {
    font-family: 'JetBrains Mono Nerd Font Mono', monospace;
	border-radius: 0px;
	border: 1px solid $outline;
	background-color: $surface-container;
}

.icon {
    font-family: 'JetBrains Mono Nerd Font Mono', monospace;
	font-size : 90px;
}

/** Colors *******************************************/

.pink {
	color: $pink;
}
.green {
	color: $green;
}
.orange {
	color: $orange;
}
.blue {
	color: $blue;
}
.purple {
	color: $purple;
}

/** Profile ******************************************/

.face {
	color: $white;
	font-size: 256px;
}

.fullname {
	font-size : 30px;
	font-weight : bold;
	margin: -120px 0px 0px 0px;
}

.username {
	font-size : 22px;
	font-weight : bold;
	margin : -60px 0px 0px 0px;
}

/** System ********************************************/

.scale, scale trough {
	all: unset;
	border: 1px solid $outline;
	background-color: $surface-container;
	min-height: 28px;
	min-width: 240px;

	&_icon {
		font-size : 32px;
		font-weight : normal;
	}
}

.scale, scale trough highlight {
	all: unset;
	border-radius: 0px;
	background-color: $white;
}

/** Clock ********************************************/

.time_hour {
	color: $white;
	font-size : 70px;
	font-weight : bold;
	margin : 15px 0px 0px 20px;
}

.time_mer {
	font-size : 40px;
	font-weight : bold;
	margin : 20px 0px 0px 0px;
}

.time_day {
	font-size : 30px;
	font-weight : normal;
	margin : 0px 0px 20px 0px;
}

/** Uptime ********************************************/

.uphour {
	color: $white;
    font-family: 'JetBrains Mono Nerd Font Mono', monospace;
	font-size : 36px;
	font-weight : bold;
}

.upmin {
	color: $white;
    font-family: 'JetBrains Mono Nerd Font Mono', monospace;
	font-size : 24px;
	font-weight : bold;
}

/** Music ***************************************/

.album_art {
	background-size: 240px;
	min-height: 240px;
	min-width: 240px;
	margin: 20px;
	border-radius: 14px;
}

.song {
	color: $blue;
	font-size : 24px;
	font-weight : bold;
	margin : 40px 0px 0px 0px;
}

.artist {
	color: $orange;
	font-size : 16px;
	font-weight : normal;
	margin : 0px 0px 15px 0px;
}

.btn_prev, .btn_play, .btn_next {
	
}
.btn_prev {
	color: $orange;
	font-size : 32px;
	font-weight : normal;
}
.btn_play {
	color: $green;
	font-size : 48px;
	font-weight : bold;
}
.btn_next {
	color: $orange;
	font-size : 32px;
	font-weight : normal;
}

.music_bar scale trough highlight {
	all: unset;
	background-color: $pink;
	border-radius: 8px;
}
.music_bar scale trough {
	all: unset;
	background-color: $surface;
	border-radius: 8px;
	min-height: 20px;
	min-width: 310px;
	margin : 10px 0px 0px 0px;
}

/** Networking ***************************************/

.iconweather {
	font-size : 120px;
	font-weight : normal;
	margin : 15px 0px 0px 30px;
}

.label_temp {
	font-size : 80px;
	font-weight : bold;
	margin : -15px 30px 0px 0px;
}

.label_stat {
	font-size : 38px;
	font-weight : bold;
}

.label_quote {
	color : $white;
	font-size : 18px;
	font-weight : normal;
}

/** Power buttons ***************************************/

.btn {
	&:hover {
		background-color: $surface;
	}

	&_logout, &_sleep, &_reboot, &_poweroff {
		font-size : 96px;
		font-weight : bold;
	}

	&_logout {
		color: $pink;
	}
	&_sleep {
		color: $green;
	}
	&_reboot {
		color: $orange;
	}
	&_poweroff {
		color: $blue;
	}
}

/** Home folders ***************************************/

.hddbox {
	background-color: $surface;
	border-radius: 10px;
	margin : 15px;

    background-color: rgba($color: #000000, $alpha: 0);
}
.hddicon {
	color: $blue;
	font-size : 70px;
	font-weight : normal;
	margin : 25px 20px 25px 40px;

    background-color: rgba($color: #000000, $alpha: 0);
}
.hdd_label {
	color: $white;
	font-size : 48px;
	font-weight : bold;
	margin : 0px 0px 0px 15px;
}
.fs_sep {
	color: $surface;
	font-size : 36px;
	font-weight : bold;
}

.folder {
	font-size : 22px;
	font-weight : normal;
	margin : 0px 0px 0px 30px;

	&:hover {
		background-color: $surface;
	}

	&_icon {
		font-size: 32px;
		margin-left: 32px;
		margin-right: 16px;
	}
}